# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Environment variables
.env

# FastAPI / logs
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# build files
dist/
build/